@charset "UTF-8";


@import './normalize.css';


@import './fonts/fonts.css'; 



body {
  background: rgb(15, 15, 41);
}

section {
  padding: 0 15px;
  max-width: 1200px;
  margin: 40px auto;
}

@media (max-width: 730px) {
  section {
    margin: 20px 0 0;
  }
}


